.post-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
}
.post-header .post-header-left {
  display: flex;
  align-items: center;
}
.post-header .profile-username {
  margin-left: 10px;
}
.profile-username {
  font-weight: 600;
  font-size: 14px;
}
.post-header-right button {
  background-color: #fafafa;
}
.post-image {
  display: flex;
}
.post-image img {
  object-fit: cover;
}
.post-bottom {
  padding: 14px;
  display: flex;
  flex-direction: column;
}
.post-like-count {
  margin: 6px 0;
}
.post-like-icon {
  color: #ccc;
}
.post-like-icon.active {
  color: red;
}
.post-content {
  line-height: 1;
  font-size: 14px;
}
.post-text {
  font-size: 12px;
  font-weight: 300;
}
.post-like {
  display: flex;
  align-items: center;
}
.post-like-count {
  margin-left: 10px;
}
.post-time {
  font-size: 10px;
  color: #c59696;
  margin-top: 10px;
}
